hr{
  color: #555555;
}

.input-component {
  border-radius: 0px !important; 
  border-color: #C4C4C4 !important;
  &:focus{
    border-color: #EA99A3 !important;
    border-width: 1px !important;
    box-shadow: none !important;
    background-color: #EA99A34D !important;
    &::placeholder {
      color: #EA99A3 !important;
    }
  }
  &:checked{
    border-color: #EA99A3 !important;
    border-width: 1px !important;
    box-shadow: none !important;
    background-color: #EA99A34D !important;
    &::placeholder {
      color: #EA99A3 !important;
    }
  }
}

input.button-checkbox {
  display: none;
}

label.button-not-check-label {
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #A3A3A3;
  border: 1px solid #C4C4C4;
  cursor: pointer;
  text-wrap: nowrap;
}

label.button-check-label {
  padding: 10px 20px;
  background-color: #EA99A34D;
  color: #E998A2;
  border: 1px solid #E998A2;
  cursor: pointer;
}

.board-container {
  max-height: 83vh;
  overflow-y: auto;
}

.pink-job-title {
  color: #E998A2;
}

.job-row {
  cursor: pointer;
  background-color: #FFFFFF;
  &:hover {
    background-color: #EEEEEE;
  }
}

.apply-button {
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #EA99A3;
  color: white;
}

.see-company-button {
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #EA99A3;
  border: 3px solid #EA99A3;
}

.warning-frame{
  border: 2px solid #E26B6B;
  padding: 10px;
}

// .btn-outline-secondary {
//   border-radius: 0px;
//   --bs-btn-color: #A3A3A3 !important; 
//   --bs-btn-bg: #FFFFFF !important; 
//   --bs-btn-border-color: #C4C4C4 !important;
//   --bs-btn-hover-color: #fff;
//   --bs-btn-hover-bg: #EA99A3 !important;
//   --bs-btn-hover-border-color: #EA99A3 !important;
//   --bs-btn-focus-shadow-rgb: 13, 110, 253;
//   --bs-btn-active-color: #EA99A3;
//   --bs-btn-active-bg: #EA99A34D !important;
//   --bs-btn-active-border-color: #EA99A3 !important;
//   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
//   --bs-btn-disabled-color: #EA99A34D !important;
//   --bs-btn-disabled-bg: transparent;
//   --bs-btn-disabled-border-color: #EA99A34D !important;
//   --bs-gradient: none;
// }

