@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.css';
@import "@fontsource/raleway";
@import "@fontsource/montserrat";
@import "./media-query.scss";
@import "./font-sizes.scss";
@import "./components.scss";
@import "./layout.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  // font-size: 6.25%;
}

* {
  font-family: 'Raleway';
  // font-size: 16rem;
  box-sizing: border-box;
}